<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Programacion.Properties.Settings.Autogestion4ConnectionString"
            connectionString="Data Source=EZE-PC\SQLEXPRESS;Initial Catalog=Autogestion4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>